<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * HelpDesk - Adminhtml DI
 *
 * =============================================================================
 *
 * @package    Dem\HelpDesk
 * @copyright  Copyright (c) 2021 Direct Edge Media (http://directedgemedia.com)
 * @author     Toby Crain
 * @since      1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Add custom router -->
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="helpdesk" xsi:type="array">
                    <item name="class" xsi:type="string">Dem\HelpDesk\Controller\Adminhtml\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <!-- MUST BE less than 100 (default router) or it won't get called -->
                    <item name="sortOrder" xsi:type="string">20</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="adminCaseItemGrid" type="Dem\HelpDesk\Controller\Adminhtml\CaseItem\Index">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Backend\App\Action\Context</argument>
            <argument name="helper" xsi:type="object" shared="true">Dem\HelpDesk\Helper\Data</argument>
            <argument name="layoutFactory" xsi:type="object" shared="true">Magento\Framework\View\LayoutFactory</argument>
        </arguments>
    </virtualType>

</config>
