<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * HelpDesk - Adminhtml Menu
 *
 * =============================================================================
 *
 * @package    Dem\HelpDesk
 * @copyright  Copyright (c) 2021 Direct Edge Media (http://directedgemedia.com)
 * @author     Toby Crain
 * @since      1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <!-- Actionable Menu Item -->
        <add id="Dem_HelpDesk::helpdesk"
             parent="Dem_Base::base"
             title="Help Desk"
             translate="title"
             module="Dem_HelpDesk"
             sortOrder="0"
             resource="Dem_HelpDesk::helpdesk"/>

        <!-- Actionable Menu Item -->
        <add id="Dem_HelpDesk::helpdesk_case_create"
             parent="Dem_HelpDesk::helpdesk"
             title="Open a New Case"
             translate="title"
             module="Dem_HelpDesk"
             sortOrder="10"
             resource="Dem_HelpDesk::helpdesk_case_create"
             action="helpdesk/caseitem/create"/>

        <!-- Actionable Menu Item -->
        <add id="Dem_HelpDesk::helpdesk_case"
             parent="Dem_HelpDesk::helpdesk"
             title="Manage Cases"
             translate="title"
             module="Dem_HelpDesk"
             sortOrder="20"
             resource="Dem_HelpDesk::helpdesk_case"
             action="helpdesk/caseitem/index"/>

        <!-- Actionable Menu Item -->
        <add id="Dem_HelpDesk::helpdesk_department"
             parent="Dem_HelpDesk::helpdesk"
             title="Manage Departments"
             translate="title"
             module="Dem_HelpDesk"
             sortOrder="30"
             resource="Dem_HelpDesk::helpdesk_department"
             action="helpdesk/department/index"/>

        <!-- Actionable Menu Item -->
        <add id="Dem_HelpDesk::helpdesk_config"
             parent="Dem_HelpDesk::helpdesk"
             title="Configuration"
             translate="title"
             module="Dem_HelpDesk"
             sortOrder="40"
             resource="Dem_HelpDesk::helpdesk_config"
             action="adminhtml/system_config/edit/section/dem_helpdesk/"/>
    </menu>
</config>
