<?xml version="1.0"?>
<!--
/*
 * @author      Toby Crain <tcrain@directedgemedia.com>
 * @copyright © Direct Edge Media, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="dem_helpdesk" frontName="helpdesk">
            <module name="Dem_HelpDesk" before="Magento_Backend" />
        </route>
    </router>
</config>
