<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * HelpDesk - Adminhtml ACL
 *
 * =============================================================================
 *
 * @package    Dem\HelpDesk
 * @copyright  Copyright (c) 2021 Direct Edge Media (http://directedgemedia.com)
 * @author     Toby Crain
 * @since      1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Dem_HelpDesk::helpdesk" title="Help Desk" sortOrder="0">
                    <resource id="Dem_HelpDesk::helpdesk_case" title="Manage Cases" sortOrder="10"/>
                    <resource id="Dem_HelpDesk::helpdesk_department" title="Manage Departments" sortOrder="20"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Dem_HelpDesk::helpdesk_config" title="Help Desk Section"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
