<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * @author      Toby Crain <tcrain@directedgemedia.com>
 * @copyright © Direct Edge Media, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Website name column renderer -->
    <type name="Dem\HelpDesk\Block\Adminhtml\Grid\Column\Renderer\WebsiteName">
        <arguments>
            <argument name="website" xsi:type="string">\Magento\Store\Model\Website</argument>
        </arguments>
    </type>

</config>
