<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * HelpDesk - Main DI Constructor definitions
 *
 * =============================================================================
 *
 * @package    Dem\HelpDesk
 * @copyright  Copyright (c) 2021 Direct Edge Media (http://directedgemedia.com)
 * @author     Toby Crain
 * @since      1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- CaseItem -->
    <preference for="Dem\HelpDesk\Api\Data\CaseItemInterface" type="Dem\HelpDesk\Model\CaseItem" />
    <preference for="Dem\HelpDesk\Api\CaseItemRepositoryInterface" type="Dem\HelpDesk\Model\CaseItemRepository" />
    <preference for="Dem\HelpDesk\Api\Data\CaseItemSearchResultInterface" type="Dem\HelpDesk\Model\CaseItemSearchResult" />
    <!-- Department -->
    <preference for="Dem\HelpDesk\Api\Data\DepartmentInterface" type="Dem\HelpDesk\Model\Department" />
    <preference for="Dem\HelpDesk\Api\DepartmentRepositoryInterface" type="Dem\HelpDesk\Model\DepartmentRepository" />
    <preference for="Dem\HelpDesk\Api\Data\DepartmentSearchResultInterface" type="Dem\HelpDesk\Model\DepartmentSearchResult" />



    <virtualType name="DemHelpDeskCaseGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Dem\HelpDesk\Model\Resource\CaseItem\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DemHelpDeskCaseGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DemHelpDeskCaseGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dem_helpdesk_caseitem_grid_data_source" xsi:type="string">Dem\HelpDesk\Model\ResourceModel\CaseItem\Grid\Collection</item>
            </argument>
        </arguments>
    </type>


</config>
