<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * HelpDesk - Module
 *
 * "setup_version" should match current version defined in composer.json
 *
 * =============================================================================
 *
 * @package    Dem\HelpDesk
 * @copyright  Copyright (c) 2021 Direct Edge Media (http://directedgemedia.com)
 * @author     Toby Crain
 * @since      1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dem_HelpDesk" setup_version="1.0.0" />
</config>
